#map{
	
  max-height:70%
}



#inner {
  margin: 0 auto;
}

html, body {
  width: 100%;
  height: 100%;
}

.flex-container {  
  display: flex; 
  justify-content: center;
  flex-flow: wrap;
  max-height: 50%;
}

.flex-container hr {
	width: 100%;
}

.flex-button {
	width: 50%;
}

.leftButton{
    justify-content: flex-start;
    width: 20%;
}

#locationController{
  display: flex; 
  justify-content: flex-start;
  flex-flow: wrap;
  max-height: 50%; 
}