.page--appbcg__background {
	background-image: url('../images/relaxing-background.jpg');
	background-size: cover;
	background-position: center;
}

.list-item-style {
	color: #45a2fb;
	font-size: 30px;
}